bkr-account-api-set/src/main/mule/account-domain-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:account-ap-ifor-billing-db-get="http://www.mulesoft.org/schema/mule/account-ap-ifor-billing-db-get" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:account-ap-ifor-sapget="http://www.mulesoft.org/schema/mule/account-ap-ifor-sapget" xmlns:account-ap-ifor-salesforce-get="http://www.mulesoft.org/schema/mule/account-ap-ifor-salesforce-get" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/account-ap-ifor-salesforce-get http://www.mulesoft.org/schema/mule/account-ap-ifor-salesforce-get/current/mule-account-ap-ifor-salesforce-get.xsd
http://www.mulesoft.org/schema/mule/account-ap-ifor-sapget http://www.mulesoft.org/schema/mule/account-ap-ifor-sapget/current/mule-account-ap-ifor-sapget.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/account-ap-ifor-billing-db-get http://www.mulesoft.org/schema/mule/account-ap-ifor-billing-db-get/current/mule-account-ap-ifor-billing-db-get.xsd">
    <http:listener-config name="account-domain-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="account-domain-api-config" api="resource::b10a5f48-378e-4760-80d2-ccac73df78f5:account-domain-api:4.0.5:raml:zip:account-domain-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <account-ap-ifor-salesforce-get:config name="Account_API_for_Salesforce_GET_Config" doc:name="Account API for Salesforce GET Config" doc:id="44f19f12-b7b2-48e5-9aee-399a62c557f9" property_host="${api.salesforce.get.host}" property_port="${api.salesforce.get.port}" property_basePath="${api.salesforce.get.basePath}" property_protocol="HTTP" >
		<account-ap-ifor-salesforce-get:connection />
	</account-ap-ifor-salesforce-get:config>
	<account-ap-ifor-sapget:config name="Account_API_for_SAP_GET_Config" doc:name="Account API for SAP GET Config" doc:id="eabddf50-ea1c-4989-8ba0-f839a6552420" property_host="${api.sap.get.host}" property_port="${api.sap.get.port}" property_basePath="${api.sap.get.basePath}" property_protocol="HTTP" >
		<account-ap-ifor-sapget:connection />
	</account-ap-ifor-sapget:config>
	<account-ap-ifor-billing-db-get:config name="Account_API_for_Billing_DB_Get_Config" doc:name="Account API for Billing DB Get Config" doc:id="38060d49-aa30-4799-931e-f443f1f17501" property_host="${api.billingDb.get.host}" property_port="${api.billingDb.get.port}" property_basePath="${api.billingDb.get.basePath}" property_protocol="HTTP" >
		<account-ap-ifor-billing-db-get:connection />
	</account-ap-ifor-billing-db-get:config>
	<flow name="account-domain-api-main">
        <http:listener config-ref="account-domain-api-httpListenerConfig" path="${api.domain.get.basePath}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="account-domain-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="account-domain-api-console">
        <http:listener config-ref="account-domain-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="account-domain-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\accounts\(id):application\json:account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "INFO",
    code: "202",
    description: "id1 accepted"
  }, 
  {
    severity: "INFO",
    code: "202",
    description: "id2 accepted"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\accounts\(id):application\xml:account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "INFO",
    code: "202",
    description: "id1 accepted"
  }, 
  {
    severity: "INFO",
    code: "202",
    description: "id2 accepted"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\accounts\(id):account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "INFO",
    code: "202",
    description: "id1 accepted"
  }, 
  {
    severity: "INFO",
    code: "202",
    description: "id2 accepted"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts:account-domain-api-config">
		<scatter-gather doc:name="Scatter-Gather" doc:id="5a0c0e13-639f-4b37-b5ba-7129e76ececc" >
			<route >
				<account-ap-ifor-salesforce-get:get-collection-of-accounts doc:name="Get collection of accounts from Salesforce" doc:id="7fd92e79-6999-44d2-9e2d-7eabb4d5441d" config-ref="Account_API_for_Salesforce_GET_Config" />
			</route>
			<route >
				<account-ap-ifor-sapget:get-collection-of-accounts doc:name="Get collection of accounts from SAP" doc:id="1f59d661-6bfc-45b1-bcd4-abce91d52894" config-ref="Account_API_for_SAP_GET_Config"/>
			</route>
			<route >
				<account-ap-ifor-billing-db-get:get-collection-of-accounts doc:name="Get collection of accounts from Billing DB" doc:id="d17b5939-33d9-4f13-a4e4-48970199ce74" config-ref="Account_API_for_Billing_DB_Get_Config"/>
			</route>
		</scatter-gather>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="432b53cc-744e-4f46-a782-76bbfccf6b63">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var accountList = flatten(payload..payload.'account.Account')
---
{
	meta: {
		totalItems: sizeOf(accountList)
	},
	"account.Account": accountList
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(id):account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "WARN",
    code: "401",
    description: "Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided. The response must include a WWW-Authenticate header field containing a challenge applicable to the requested resource. See Basic access authentication and Digest access authentication.[34] 401 semantically means 'unauthenticated',[35] i.e. the user does not have the necessary credentials."
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts:application\json:account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "INFO",
    code: "201",
    description: "Id1 created"
  }, 
  {
    severity: "INFO",
    code: "201",
    description: "Id2 created"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts:application\xml:account-domain-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    severity: "INFO",
    code: "201",
    description: "Id1 created"
  }, 
  {
    severity: "INFO",
    code: "201",
    description: "Id2 created"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
